@font-face {
  font-family: sansinc;
  src: url(./fonts/Sans.ttf);
}

body{
  font-family: 'sansinc';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.scrolled { 
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.7) 50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.output {
  height: 50px;
  font-size: 0.9rem;
}
.progress-bar {
  height: 70px;
  background: rgb(102, 252, 32);
  margin-top: 15px;
}